<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Account</h1>
        <div>
          <div id="username"></div>
          <button class="btn btn-danger" id="button__logout">Logout</button>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function (res) {
        const userData = JSON.parse(localStorage.getItem("login-user"));
        const withoutLocalStorage = async (req, res, next) => {
    try {
        if (userData(req)) {
            // parsing cookies
            const user = await userData(req);

            Object.assign(req, {
                Username,
            });

            return next();
        }

        res.redirect('/login');
    } catch (error) {
        res.send(error.toString());
    }
};

        const labelUsername = $("#username");
        labelUsername.html(userData.data.Email);

        const buttonLogout = $("#button__logout");
        buttonLogout.on("click", function () {
          localStorage.clear();
          window.location.reload();
          location.href="login"
        });
      });
    </script>
  </body>
</html>
