<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      .w-50 {
        width: 50%;
      }
      .margin-auto {
        margin: 0 auto;
      }
    </style>

  </head>
  <body>
    <div class="container w-50 margin-auto text-center">
        <div class="form-group my-5">
        <h2>Welcome to Prawira Car Rental</h2>
        <img src="/images/car-rental.jpeg" width="720px">
        <h3><a href="/login">Login</a></h3>
        </div>
    </div>

  </body>
</html>