<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      .w-50 {
        width: 50%;
      }
      .margin-auto {
        margin: 0 auto;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <form class="w-50 margin-auto" id="form__login" method="post" action="javascript:doLogin()">
        <div class="form-group my-5">
          <h1>Login Car Rental</h1>
        </div>
        <div class="form-group my-3">
          <label for="Username">Username</label>
          <input
            type="text"
            placeholder="Type your username"
            name="Username"
            id="Username"
            class="form-control"
          />
        </div>
        <div class="form-group my-3">
          <label for="Password">Password</label>
          <input
            type="password"
            placeholder="Type your Password"
            name="Password"
            id="Password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="login">
        </div>
      </form>
    </div>
    <script>
      async function doLogin(username, password) {
        const response = await fetch(
          "http://localhost:3000/api/v1/auth/login",
          {
            headers: {
              "Content-Type": "application/json",
            },
            method: "post",
            body: JSON.stringify({
              Username: username,
              Password: password,
            }),
          }
        );
        const data = await response.json();
        localStorage.setItem("login-user", JSON.stringify(data));
        window.location.href = "/account";
      }
      $(document).ready(function () {

        const formLogin = $("#form__login");
        formLogin.on("submit", function (e) {
          e.preventDefault();
          const username = $("input[name=Username]").val();
          const password = $("input[name=Password]").val();
          doLogin(username, password);
        });
      });


    </script>

  </body>
</html>